node-red/flows.json
[{"id":"bba2d95a.e74368","type":"tab","label":"Alarmy i powiadomienia","disabled":false,"info":""},{"id":"aa97e81.ebbcd18","type":"tab","label":"Osuszacz - automatyzacja","disabled":false,"info":""},{"id":"f9ded2e2.1a0ba","type":"tab","label":"MQTT LEDY","disabled":false,"info":"automatyka ledów\n\ndziałanie z pilota"},{"id":"56e4b26.e9de44c","type":"tab","label":"swiatlo w kuchni","disabled":false,"info":""},{"id":"bc048733.b6ee78","type":"tab","label":"różne testy MQTT","disabled":true,"info":""},{"id":"3068254c.59982a","type":"tab","label":"Zimowo","disabled":false,"info":""},{"id":"bbac0e09.2679d","type":"tab","label":"Taras","disabled":false,"info":""},{"id":"84694e7.e81f7b","type":"server","z":"","name":"Home Assistant"},{"id":"9130ec62.b3928","type":"mqtt-broker","z":"","name":"","broker":"192.168.4.9","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c878398b.28fa08","type":"darksky-credentials","z":"","key_identifier":""},{"id":"1c498b29.3ab3b5","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"27.890814","longitude":"-82.50234640000001"},{"id":"70d46253.8c372c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4c4900.6e4667","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a71a1743.fd6198","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21daa9ef.418e86","type":"inject","z":"aa97e81.ebbcd18","name":"Osuszacz ON tydzień","repeat":"","crontab":"*/10 6-20 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"Osuszacz ON tydzień","payload":"","payloadType":"date","x":160,"y":340,"wires":[["27778ded.9c4c62"]]},{"id":"e33d2790.ba8d68","type":"api-call-service","z":"aa97e81.ebbcd18","name":"Osuszacz ON","server":"84694e7.e81f7b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.sonoffosuszacz\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":820,"y":140,"wires":[["16bf4a71.add9d6"]]},{"id":"7068d765.ae07c8","type":"inject","z":"aa97e81.ebbcd18","name":"Osuszacz OFF","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"Osuszacz OFF","payload":"","payloadType":"date","x":140,"y":520,"wires":[["a3a0ae62.468d9"]]},{"id":"a3a0ae62.468d9","type":"api-call-service","z":"aa97e81.ebbcd18","name":"Osuszacz OFF","server":"84694e7.e81f7b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoffosuszacz\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":820,"y":520,"wires":[[]]},{"id":"ea651873.6fac58","type":"inject","z":"aa97e81.ebbcd18","name":"Osuszacz ON weekend","repeat":"","crontab":"*/10 10-20 * * 6,0","once":false,"onceDelay":0.1,"topic":"Osuszacz ON weekend","payload":"","payloadType":"date","x":170,"y":160,"wires":[["96742cba.7f963"]]},{"id":"3b731ce6.31a934","type":"api-current-state","z":"aa97e81.ebbcd18","name":"jaka jest wilgotność","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.sonoffosuszacz_dht11_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":300,"wires":[["ec08c1e0.2cb5"]]},{"id":"27778ded.9c4c62","type":"time-range-switch","z":"aa97e81.ebbcd18","name":"","lat":"","lon":"","startTime":"06:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":390,"y":340,"wires":[["e33d2790.ba8d68"],["a3a0ae62.468d9"]],"outputLabels":["true","false"]},{"id":"ec08c1e0.2cb5","type":"switch","z":"aa97e81.ebbcd18","name":"wilgotność poniżejej 40% czy powyżej 50%","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"str"},{"t":"btwn","v":"41","vt":"num","v2":"49","v2t":"num"},{"t":"lte","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":850,"y":380,"wires":[["466c1e78.db305"],["edaea0f6.1853d"],["a3a0ae62.468d9"]]},{"id":"96742cba.7f963","type":"time-range-switch","z":"aa97e81.ebbcd18","name":"","lat":"","lon":"","startTime":"10:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":390,"y":160,"wires":[["e33d2790.ba8d68"],["a3a0ae62.468d9"]],"outputLabels":["true","false"]},{"id":"466c1e78.db305","type":"api-current-state","z":"aa97e81.ebbcd18","name":"sprawdż czy włączony, jak nie to włącz","server":"84694e7.e81f7b","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoffosuszacz","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":300,"wires":[["e33d2790.ba8d68"],[]]},{"id":"edaea0f6.1853d","type":"debug","z":"aa97e81.ebbcd18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1220,"y":440,"wires":[]},{"id":"8b9ce16a.0d62c","type":"inject","z":"f9ded2e2.1a0ba","name":"pasek led","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"cmnd/LEDTV_fb/power","payload":"on","payloadType":"str","x":110,"y":80,"wires":[["3519988.453ee68","a56c286f.aa1d98","618ac1c8.9cd8f"]]},{"id":"6abf4516.9a239c","type":"inject","z":"f9ded2e2.1a0ba","name":"pasek off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmnd/LEDTV_fb/power","payload":"off","payloadType":"str","x":100,"y":240,"wires":[["3b299d38.fe9872"]]},{"id":"4768cda.2c6e634","type":"inject","z":"f9ded2e2.1a0ba","name":"między 18 a 23","repeat":"","crontab":"*/1 18-21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":360,"wires":[["b6777c8c.526fd"]]},{"id":"c22d7b88.52c988","type":"inject","z":"f9ded2e2.1a0ba","name":"23:00","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":"","topic":"cmnd/LEDTV_fb/power","payload":"off","payloadType":"str","x":90,"y":280,"wires":[["3b299d38.fe9872"]]},{"id":"29f661e0.31f4be","type":"inject","z":"f9ded2e2.1a0ba","name":"pomiędzy 6 a 9","repeat":"","crontab":"*/1 6-7 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"cmnd/LEDTV_fb/power","payload":"on","payloadType":"str","x":120,"y":160,"wires":[["35f601bd.24e60e"]]},{"id":"35f601bd.24e60e","type":"time-range-switch","z":"f9ded2e2.1a0ba","name":"pomiędzy 6 a wschodem ?","lat":"50.232","lon":"19.855","startTime":"6:00","endTime":"sunrise","startOffset":0,"endOffset":"30","x":360,"y":160,"wires":[["fae555c6.60e7a8"],["3b299d38.fe9872"]],"outputLabels":["true","false"]},{"id":"3660ae55.8b1fc2","type":"http request","z":"f9ded2e2.1a0ba","name":"jaki kanał?","method":"GET","ret":"txt","url":"http://192.168.2.104/web/subservices","tls":"","x":550,"y":460,"wires":[["20565e48.618a72"]]},{"id":"20565e48.618a72","type":"xml","z":"f9ded2e2.1a0ba","name":"formatowanie XMLa","property":"payload","attr":"","chr":"","x":640,"y":520,"wires":[["ae88b7a0.9ba3a8"]]},{"id":"ae88b7a0.9ba3a8","type":"change","z":"f9ded2e2.1a0ba","name":"kanał do msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.e2servicelist.e2service[0].e2servicename[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":520,"wires":[["fbdc8c48.9b62b"]]},{"id":"b6777c8c.526fd","type":"time-range-switch","z":"f9ded2e2.1a0ba","name":"pomiędzy zmierzchniem a 23 ?","lat":"50.232","lon":"19.855","startTime":"dusk","endTime":"23:00","startOffset":0,"endOffset":0,"x":170,"y":400,"wires":[["64d512f8.f0d5ec"],[]],"outputLabels":["true","false"]},{"id":"64d512f8.f0d5ec","type":"api-current-state","z":"f9ded2e2.1a0ba","name":"Enigma on ?","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.nbox_dzienny","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":190,"y":460,"wires":[["2d9bc043.aab0f"]]},{"id":"faaa4c50.15ec8","type":"api-current-state","z":"f9ded2e2.1a0ba","name":"pasek led on czy off ?","server":"84694e7.e81f7b","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.sonoff","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":360,"wires":[["198a7b0e.de8b35","1c744115.30106f"],[]]},{"id":"d62bec90.d3ce8","type":"switch","z":"f9ded2e2.1a0ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"Eurosport 1 HD","vt":"str"},{"t":"eq","v":"Polsat Sport Premium PPV6","vt":"str"},{"t":"eq","v":"Polsat Sport Premium PPV5","vt":"str"},{"t":"eq","v":"Polsat Sport Premium PPV4","vt":"str"},{"t":"eq","v":"Polsat Sport Premium PPV3","vt":"str"},{"t":"eq","v":"Polsat Sport Premium 2","vt":"str"},{"t":"eq","v":"Polsat Sport Premium 1","vt":"str"},{"t":"eq","v":"Polsat Sport News HD","vt":"str"},{"t":"eq","v":"Polsat Sport Extra HD","vt":"str"},{"t":"eq","v":"Polsat Sport HD","vt":"str"},{"t":"eq","v":"nSport+","vt":"str"},{"t":"eq","v":"CANAL+ SPORT 2 HD","vt":"str"},{"t":"eq","v":"CANAL+ SPORT HD","vt":"str"}],"checkall":"true","repair":false,"outputs":14,"x":1030,"y":500,"wires":[["eb9c433.e6dfdc"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"],["504509bc.a04c48"]]},{"id":"fbdc8c48.9b62b","type":"rbe","z":"f9ded2e2.1a0ba","name":"blokuj póki nie zmieni się kanał","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":460,"wires":[["d62bec90.d3ce8"]]},{"id":"2d9bc043.aab0f","type":"switch","z":"f9ded2e2.1a0ba","name":"on czy off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":460,"wires":[["faaa4c50.15ec8"],["3660ae55.8b1fc2"]]},{"id":"7aa4b44a.b48bfc","type":"mqtt out","z":"f9ded2e2.1a0ba","name":"LEDy Status","topic":"cmnd/LEDTV_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":910,"y":140,"wires":[],"inputLabels":["on"]},{"id":"a708dabf.72bb38","type":"mqtt out","z":"f9ded2e2.1a0ba","name":"LEDy Status","topic":"cmnd/LEDTV_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":910,"y":240,"wires":[],"inputLabels":["on"]},{"id":"fae555c6.60e7a8","type":"change","z":"f9ded2e2.1a0ba","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"10","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"#fff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":180,"wires":[["7aa4b44a.b48bfc"]]},{"id":"14d746cb.637c79","type":"mqtt out","z":"f9ded2e2.1a0ba","name":"LEDy Kolor","topic":"cmnd/LEDTV_fb/color","qos":"2","retain":"false","broker":"9130ec62.b3928","x":910,"y":20,"wires":[],"inputLabels":["on"]},{"id":"3519988.453ee68","type":"change","z":"f9ded2e2.1a0ba","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["7aa4b44a.b48bfc"]]},{"id":"92b2d029.b6d31","type":"mqtt out","z":"f9ded2e2.1a0ba","name":"LEDy Dimmer","topic":"cmnd/LEDTV_fb/dimmer","qos":"2","retain":"false","broker":"9130ec62.b3928","x":920,"y":80,"wires":[],"inputLabels":["on"]},{"id":"618ac1c8.9cd8f","type":"change","z":"f9ded2e2.1a0ba","name":"DIMMER","rules":[{"t":"set","p":"payload","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":80,"wires":[["92b2d029.b6d31"]]},{"id":"a56c286f.aa1d98","type":"change","z":"f9ded2e2.1a0ba","name":"COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":20,"wires":[["14d746cb.637c79"]]},{"id":"7343ef92.759fa","type":"change","z":"f9ded2e2.1a0ba","name":"COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":500,"wires":[["980bcef6.45ccc"]]},{"id":"18841435.beff0c","type":"change","z":"f9ded2e2.1a0ba","name":"COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"127,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":580,"wires":[["980bcef6.45ccc"]]},{"id":"980bcef6.45ccc","type":"mqtt out","z":"f9ded2e2.1a0ba","name":"LEDy Color","topic":"cmnd/LEDTV_fb/color","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1550,"y":540,"wires":[],"inputLabels":["on"]},{"id":"eb9c433.e6dfdc","type":"change","z":"f9ded2e2.1a0ba","name":"TV","rules":[{"t":"set","p":"payload","pt":"msg","to":"TV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":420,"wires":[["7343ef92.759fa"]]},{"id":"504509bc.a04c48","type":"change","z":"f9ded2e2.1a0ba","name":"Sport","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sport","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":540,"wires":[["18841435.beff0c"]]},{"id":"3b299d38.fe9872","type":"change","z":"f9ded2e2.1a0ba","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":240,"wires":[["a708dabf.72bb38"]]},{"id":"64c8bb4b.5bcdc4","type":"inject","z":"f9ded2e2.1a0ba","name":"co 30 min od 0:00 do 5:00","repeat":"","crontab":"*/30 0-4 * * *","once":false,"onceDelay":0.1,"topic":"cmnd/LEDTV_fb/power","payload":"off","payloadType":"str","x":160,"y":320,"wires":[[]]},{"id":"51366b4f.b5ce54","type":"mqtt in","z":"bc048733.b6ee78","name":"Stan LED","topic":"cmnd/LEDTV_fb/power","qos":"2","broker":"9130ec62.b3928","x":120,"y":60,"wires":[["88dbc1eb.35438"]]},{"id":"fcc05023.e8d55","type":"mqtt in","z":"bc048733.b6ee78","name":"Kolor LED","topic":"cmnd/LEDTV_fb/color","qos":"2","broker":"9130ec62.b3928","x":120,"y":180,"wires":[["bf7b4ff8.1bbae"]]},{"id":"3dc74521.2489ca","type":"function","z":"bc048733.b6ee78","name":"zmiana po CLICK","func":"var stan=msg.payload.stan;\nvar click=msg.payload.click;\nvar kolor=msg.payload.kolor;\n\n//jeśli stan jest ON i jest CLICK to wiadomość 1\nif (stan == \"on\" && click == \"click\") {\n    msg.payload = 1;\n}\n\n//jeśli stan jest OFF i jest CLICK to wiadomość 2\nelse if (stan == \"off\" && click == \"click\") {\n    msg.payload = 2;\n}\n\n//jeśli stan jest ON, kolor NIEBIESKI i jest CLICK to wiadomość 3\nelse if (stan == \"on\" && kolor == \"blue\" && click == \"click\") {\n    msg.payload = 3;\n}\n\n//jeśli stan jest ON, kolor ZIELONY i jest CLICK to wiadomość 4\nelse if (stan == \"on\" && kolor == \"green\" && click == \"click\") {\n    msg.payload = 4;\n}\n//jeśli jest inaczej nie rób nic\nelse {\n    return null;\n}\n\nreturn msg.payload","outputs":1,"noerr":0,"x":890,"y":120,"wires":[["b1c9c7d6.280e68"]]},{"id":"90361ca2.d29c3","type":"mqtt in","z":"bc048733.b6ee78","name":"Przycisk ","topic":"RFBridge/LEDTV","qos":"2","broker":"9130ec62.b3928","x":120,"y":120,"wires":[["cc4d376d.636128","3a91d01b.27fa2"]]},{"id":"cb131acd.f91808","type":"debug","z":"bc048733.b6ee78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":40,"wires":[]},{"id":"b1c9c7d6.280e68","type":"debug","z":"bc048733.b6ee78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":120,"wires":[]},{"id":"cc4d376d.636128","type":"debug","z":"bc048733.b6ee78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":240,"wires":[]},{"id":"88dbc1eb.35438","type":"change","z":"bc048733.b6ee78","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"cmnd/LEDTV_fb/power : msg.payload : string[3] \"on\"","fromt":"str","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"cmnd/LEDTV_fb/power : msg.payload : string[3] \"off\"","fromt":"str","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":60,"wires":[["cc4d376d.636128","b1dffc68.b862f"]]},{"id":"bf7b4ff8.1bbae","type":"change","z":"bc048733.b6ee78","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0,0,100","fromt":"str","to":"blue","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"127,255,0","fromt":"str","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["cc4d376d.636128","db510ca0.6379a"]]},{"id":"3a91d01b.27fa2","type":"change","z":"bc048733.b6ee78","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"CLICK","fromt":"str","to":"click","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["5388ce72.b88ec"]]},{"id":"b1dffc68.b862f","type":"change","z":"bc048733.b6ee78","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.stan","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":60,"wires":[["cb131acd.f91808","3dc74521.2489ca"]]},{"id":"db510ca0.6379a","type":"change","z":"bc048733.b6ee78","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.kolor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[["cb131acd.f91808","3dc74521.2489ca"]]},{"id":"5388ce72.b88ec","type":"change","z":"bc048733.b6ee78","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.click","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":120,"wires":[["cb131acd.f91808","3dc74521.2489ca"]]},{"id":"6b6df212.f33e7c","type":"msg-router","z":"bc048733.b6ee78","routerType":"roundrobin","topicDependent":true,"counterReset":false,"msgKeyField":"payload","undefinedHash":false,"outputsInfo":[{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"}],"name":"","delaying":"unrelated","msgControl":false,"outputs":"4","x":1350,"y":140,"wires":[["c1f8a434.6e87a8"],["c2fc26ee.76ac78","33f15685.d5727a"],["33f15685.d5727a","4458ba08.c58e04"],["bbede5a4.271518"]]},{"id":"b08d7bd4.a57278","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy On","topic":"cmnd/LEDTV_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1775.5198211669922,"y":64.6712589263916,"wires":[],"inputLabels":["on"]},{"id":"c1f8a434.6e87a8","type":"change","z":"bc048733.b6ee78","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1605.5198211669922,"y":64.6712589263916,"wires":[["b08d7bd4.a57278"]]},{"id":"33f15685.d5727a","type":"change","z":"bc048733.b6ee78","name":"DIMMER","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1615.5198211669922,"y":144.6712589263916,"wires":[["8611fee8.aad8a"]]},{"id":"8611fee8.aad8a","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Dimmer","topic":"cmnd/LEDTV_fb/dimmer","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1795.5198211669922,"y":144.6712589263916,"wires":[],"inputLabels":["on"]},{"id":"c2fc26ee.76ac78","type":"change","z":"bc048733.b6ee78","name":"COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1615.5198211669922,"y":104.6712589263916,"wires":[["82a04f8d.18cb4"]]},{"id":"82a04f8d.18cb4","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Color","topic":"cmnd/LEDTV_fb/color","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1785.5198211669922,"y":104.6712589263916,"wires":[],"inputLabels":["on"]},{"id":"4458ba08.c58e04","type":"change","z":"bc048733.b6ee78","name":"COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"127,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1615.5198211669922,"y":184.6712589263916,"wires":[["7f1efd74.4db834"]]},{"id":"7f1efd74.4db834","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Color","topic":"cmnd/LEDTV_fb/color","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1785.5198211669922,"y":184.6712589263916,"wires":[],"inputLabels":["on"]},{"id":"1502ac5d.74ea84","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Off","topic":"cmnd/LEDTV_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1775.5198211669922,"y":224.6712589263916,"wires":[],"inputLabels":["on"]},{"id":"bbede5a4.271518","type":"change","z":"bc048733.b6ee78","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1605.5198211669922,"y":224.6712589263916,"wires":[["1502ac5d.74ea84"]]},{"id":"ea3fbc89.b7049","type":"comment","z":"bc048733.b6ee78","name":"jak funkcja zacznie działać to będzie mozna zastąpić czesc ze stanami i pilotem","info":"","x":1040,"y":240,"wires":[]},{"id":"63d9124a.1651ec","type":"debug","z":"bc048733.b6ee78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":500,"wires":[]},{"id":"653e7394.445cdc","type":"switch","z":"bc048733.b6ee78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"0,0,100","vt":"str"},{"t":"eq","v":"127,255,0","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":130,"y":600,"wires":[["7d9e3330.a47f3c"],["715906dc.6ece28"],["b92eab6c.1a0348"],["af7e7ece.63f05"],[]]},{"id":"747718e5.ac7d88","type":"join","z":"bc048733.b6ee78","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":580,"wires":[["63d9124a.1651ec","63eec4e5.eb5f8c"]]},{"id":"63eec4e5.eb5f8c","type":"switch","z":"bc048733.b6ee78","name":"czy ma CLICK","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"CLICK","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":580,"wires":[["1fe99200.541ade"],["83bd2728.c624c8"]]},{"id":"83bd2728.c624c8","type":"debug","z":"bc048733.b6ee78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":660,"wires":[]},{"id":"1fe99200.541ade","type":"debug","z":"bc048733.b6ee78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1250,"y":500,"wires":[]},{"id":"ca30c6ac.fe4bd8","type":"change","z":"bc048733.b6ee78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"CLICK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":500,"wires":[["747718e5.ac7d88"]]},{"id":"fa80fa5e.b90ea8","type":"join","z":"bc048733.b6ee78","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":660,"wires":[[]]},{"id":"84b86768.8bcf88","type":"debug","z":"bc048733.b6ee78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":920,"wires":[]},{"id":"6137283e.bddd38","type":"change","z":"bc048733.b6ee78","name":"set payload value","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.params.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":620,"wires":[["fa80fa5e.b90ea8"]]},{"id":"7d9e3330.a47f3c","type":"change","z":"bc048733.b6ee78","name":"set topic 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"source1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":540,"wires":[["6137283e.bddd38"]]},{"id":"715906dc.6ece28","type":"change","z":"bc048733.b6ee78","name":"set topic 2","rules":[{"t":"set","p":"topic","pt":"msg","to":"source2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":580,"wires":[["6137283e.bddd38"]]},{"id":"b92eab6c.1a0348","type":"change","z":"bc048733.b6ee78","name":"set topic 3","rules":[{"t":"set","p":"topic","pt":"msg","to":"source3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":620,"wires":[["6137283e.bddd38"]]},{"id":"af7e7ece.63f05","type":"change","z":"bc048733.b6ee78","name":"set topic 4","rules":[{"t":"set","p":"topic","pt":"msg","to":"source4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":660,"wires":[["6137283e.bddd38"]]},{"id":"adb31778.19e088","type":"change","z":"bc048733.b6ee78","name":"set topic 5","rules":[{"t":"set","p":"topic","pt":"msg","to":"source5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":700,"wires":[["6137283e.bddd38"]]},{"id":"d32349a4.091f58","type":"switch","z":"bc048733.b6ee78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":780,"wires":[["4b3f0fa1.7a7aa"],["10bab914.53a7b7"],["6ef9136d.588d0c"],["d9cc0a02.fc8888"],[]]},{"id":"6f950a22.9b4204","type":"function","z":"bc048733.b6ee78","name":"funkcja","func":"newmsg = {};\ntvledy = msg.payload[\"payload[1]\"]\nprzycisk = msg.payload[\"payload[0]\"];\nif  (tvledy == \"on\" && przycisk == \"CLICK\") {\n  newmsg.payload = 1;\n}\nelse if (tvledy == \"off\" && przycisk == \"CLICK\") {\n  newmsg.payload = 0;\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":340,"y":780,"wires":[["d32349a4.091f58","84b86768.8bcf88"]],"outputLabels":["1"]},{"id":"b7324617.518558","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Off","topic":"cmnd/LEDTV_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":940,"y":1080,"wires":[],"inputLabels":["on"]},{"id":"d9cc0a02.fc8888","type":"change","z":"bc048733.b6ee78","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1080,"wires":[["b7324617.518558"]]},{"id":"2b510fd7.28f6a","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy On","topic":"cmnd/LEDTV_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":960,"y":740,"wires":[],"inputLabels":["on"]},{"id":"4b3f0fa1.7a7aa","type":"change","z":"bc048733.b6ee78","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":740,"wires":[["2b510fd7.28f6a"]]},{"id":"594dfa72.ee4644","type":"change","z":"bc048733.b6ee78","name":"DIMMER","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":900,"wires":[["2662a21.274785e"]]},{"id":"2662a21.274785e","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Dimmer","topic":"cmnd/LEDTV_fb/dimmer","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1180,"y":900,"wires":[],"inputLabels":["on"]},{"id":"85c455be.598c98","type":"change","z":"bc048733.b6ee78","name":"COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":820,"wires":[["a20931b.fb3e4d"]]},{"id":"a20931b.fb3e4d","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Color","topic":"cmnd/LEDTV_fb/color","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1170,"y":820,"wires":[],"inputLabels":["on"]},{"id":"5128c1be.47591","type":"change","z":"bc048733.b6ee78","name":"COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"127,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":980,"wires":[["c8200526.88d418"]]},{"id":"c8200526.88d418","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Color","topic":"cmnd/LEDTV_fb/color","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1170,"y":980,"wires":[],"inputLabels":["on"]},{"id":"10bab914.53a7b7","type":"change","z":"bc048733.b6ee78","name":"TV","rules":[{"t":"set","p":"payload","pt":"msg","to":"TV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":820,"wires":[["85c455be.598c98","594dfa72.ee4644"]]},{"id":"6ef9136d.588d0c","type":"change","z":"bc048733.b6ee78","name":"Sport","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sport","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":940,"wires":[["594dfa72.ee4644","5128c1be.47591"]]},{"id":"47aed474.92d38c","type":"comment","z":"bc048733.b6ee78","name":"inne koncepcje","info":"","x":200,"y":420,"wires":[]},{"id":"298e7a73.0459c6","type":"mqtt in","z":"f9ded2e2.1a0ba","name":"Przycisk ","topic":"RFBridge/LEDTV","qos":"2","broker":"9130ec62.b3928","x":80,"y":700,"wires":[["a37ab55e.ee9988","26a77726.12eea8"]]},{"id":"16bf4a71.add9d6","type":"delay","z":"aa97e81.ebbcd18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":240,"wires":[["3b731ce6.31a934"]]},{"id":"71ea7a17.63a9c4","type":"inject","z":"56e4b26.e9de44c","name":"między 18 a 23","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["f6eaf8cd.d44a08"]]},{"id":"1d891864.0fca78","type":"inject","z":"56e4b26.e9de44c","name":"pomiędzy 5 a 7","repeat":"","crontab":"10 05 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"cmnd/LEDTV_fb/power","payload":"true","payloadType":"bool","x":140,"y":100,"wires":[[]]},{"id":"7996e274.5a782c","type":"time-range-switch","z":"56e4b26.e9de44c","name":"pomiędzy 5 a wschodem ?","lat":"50.232","lon":"19.855","startTime":"5:00","endTime":"sunrise","startOffset":0,"endOffset":"30","x":200,"y":140,"wires":[["4db59f55.8f819","b031b004.7bd59","ad8252d5.9a455"],["9a7299d2.0ba508"]],"outputLabels":["true","false"]},{"id":"4ed83a56.410c64","type":"mqtt out","z":"56e4b26.e9de44c","name":"LEDy Status","topic":"cmnd/LEDKuchnia_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":970,"y":80,"wires":[],"inputLabels":["on"]},{"id":"e65a5d88.81c13","type":"mqtt out","z":"56e4b26.e9de44c","name":"LEDy Kolor","topic":"cmnd/LEDKuchnia_fb/color","qos":"2","retain":"false","broker":"9130ec62.b3928","x":970,"y":160,"wires":[],"inputLabels":["on"]},{"id":"b031b004.7bd59","type":"change","z":"56e4b26.e9de44c","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":80,"wires":[["4ed83a56.410c64"]]},{"id":"9d785b96.89c1a8","type":"mqtt out","z":"56e4b26.e9de44c","name":"LEDy Dimmer","topic":"cmnd/LEDKuchnia_fb/dimmer","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1200,"y":140,"wires":[],"inputLabels":["on"]},{"id":"4db59f55.8f819","type":"change","z":"56e4b26.e9de44c","name":"biały","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":140,"wires":[["e65a5d88.81c13"]]},{"id":"859b5fdd.15caa","type":"inject","z":"56e4b26.e9de44c","name":"pasek led","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmnd/LEDTV_fb/power","payload":"on","payloadType":"str","x":120,"y":20,"wires":[["ad8252d5.9a455","4db59f55.8f819","b031b004.7bd59"]]},{"id":"701eb209.9c553c","type":"function","z":"bc048733.b6ee78","name":"","func":"// store pid/klik in flow context\nif (msg.hasOwnProperty(\"pid\")) {\nflow.set('pid', msg.pid);\n} else if (msg.hasOwnProperty(\"klik\")) {\nflow.set('klik', msg.klik);\n}\n\n// get the latest values of pid/klik from context - default to 0 if not yet set\nvar pid = flow.get('pid') || 0;\nvar klik = flow.get('klik') || 0;\nmsg.payload = pid+klik;\nreturn msg","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["7e1b1c1e.0868d4"]]},{"id":"cf922401.bdce38","type":"change","z":"bc048733.b6ee78","name":"msg.temperature = 10","rules":[{"t":"set","p":"klik","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":380,"wires":[["701eb209.9c553c"]]},{"id":"7e1b1c1e.0868d4","type":"debug","z":"bc048733.b6ee78","name":"5 + 10 = 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":340,"wires":[]},{"id":"d13c3e1a.0e487","type":"mqtt in","z":"bc048733.b6ee78","name":"Stan LED","topic":"cmnd/LEDTV_fb/power","qos":"2","broker":"9130ec62.b3928","x":180,"y":300,"wires":[["4340d23.751eb2c"]]},{"id":"ebc62171.bbb84","type":"mqtt in","z":"bc048733.b6ee78","name":"Przycisk ","topic":"RFBridge/LEDTV","qos":"2","broker":"9130ec62.b3928","x":180,"y":380,"wires":[["cf922401.bdce38"]]},{"id":"4383f900.33a268","type":"change","z":"bc048733.b6ee78","name":"payload","rules":[{"t":"change","p":"pid","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"pid","pt":"msg","from":"off","fromt":"str","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["701eb209.9c553c"]]},{"id":"4340d23.751eb2c","type":"change","z":"bc048733.b6ee78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["4383f900.33a268"]]},{"id":"3d11709f.b09b4","type":"change","z":"bc048733.b6ee78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"klik","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":380,"wires":[[]]},{"id":"240e890d.6ca4f6","type":"time-range-switch","z":"56e4b26.e9de44c","name":"słońce za horyzontm a jest przed 23:00","lat":"50.232","lon":"19.855","startTime":"sunset","endTime":"22:50","startOffset":0,"endOffset":"","x":240,"y":260,"wires":[["4db59f55.8f819","b031b004.7bd59"],["9a7299d2.0ba508"]],"outputLabels":["true","false"]},{"id":"257973aa.44afbc","type":"inject","z":"56e4b26.e9de44c","name":"pasek off","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"cmnd/LEDTV_fb/power","payload":"off","payloadType":"str","x":130,"y":360,"wires":[["9a7299d2.0ba508"]]},{"id":"9a7299d2.0ba508","type":"change","z":"56e4b26.e9de44c","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[["189f4f50.1155d1"]]},{"id":"189f4f50.1155d1","type":"mqtt out","z":"56e4b26.e9de44c","name":"LEDy Status","topic":"cmnd/LEDKuchnia_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":910,"y":360,"wires":[],"inputLabels":["on"]},{"id":"855411cf.6ecda","type":"e-mail","z":"bba2d95a.e74368","server":"smtp.gmail.com","port":"465","secure":true,"name":"michalzaitz@gmail.com, wawer.malgosia@gmail.com","dname":"","x":2060,"y":1460,"wires":[]},{"id":"e605e354.68988","type":"inject","z":"bba2d95a.e74368","name":"Poogoda o 6:00","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":480,"wires":[["82d4277a.862128","37b3a56e.f1c10a","779aac8.910ee54","1f4b2dd6.9b2a32"]]},{"id":"82d4277a.862128","type":"api-current-state","z":"bba2d95a.e74368","name":"Temperatura za oknem","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.inovalley_cb01_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":340,"wires":[["ed6866d2.7ce4a8"]]},{"id":"37b3a56e.f1c10a","type":"api-current-state","z":"bba2d95a.e74368","name":"Wilgotność za oknem","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.inovalley_cb01_hum","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":420,"wires":[["33f2b32.563414c"]]},{"id":"779aac8.910ee54","type":"api-current-state","z":"bba2d95a.e74368","name":"Temperatura w domu","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.sonoffosuszacz_dht11_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":500,"wires":[["c3f74abe.187b98"]]},{"id":"1f4b2dd6.9b2a32","type":"api-current-state","z":"bba2d95a.e74368","name":"Wilgotność w domu","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.sonoffosuszacz_dht11_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":580,"wires":[["12f8426.76347be"]]},{"id":"2f8c686b.deb958","type":"darksky","z":"bba2d95a.e74368","darksky":"c878398b.28fa08","name":"DarkSky - pogoda w Skale","lon":"19.855268","lat":"50.232401","date":"","time":"","mode":"node","lang":"pl","units":"auto","x":500,"y":740,"wires":[["98717a3.f98fa88","7af56f90.0792b"]]},{"id":"ab69b464.5939e8","type":"inject","z":"bba2d95a.e74368","name":"Odczyt pogody na jutro","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":740,"wires":[["2f8c686b.deb958"]]},{"id":"8e89107.cbd82f","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"var tempzaoknem = msg.payload.zaoknem.temp;\nvar humzaoknem = msg.payload.zaoknem.hum;\nvar tempwdomu1 = msg.payload.wdomu.temp1;\nvar humwdomu1 = msg.payload.wdomu.hum1;\nmsg = {\n    payload : \"Witaj!\" + \n       \"Dziś jest \" + Date().toString() + \" Za oknem o 6:00 temperatura wynosi:\" +\n       tempzaoknem + \"°C, natomiast wilgotność:\" + humzaoknem + \n       \"%. Aktualna temperatura w pokoju : \" + tempwdomu1 + \"°C, natomiast wilgotność : \" + \n       humwdomu1 + \"%.\" +\n       \"DarkSKY donosi, że maksymalna temperatura osiągnie \" + msg.payload.maxtemp + \"°C, minimalna zaś \" +\n       msg.payload.mintemp + \"°C. Wilgotność wyniesie \" + msg.payload.humidity + \"%, a wiatr osiągnie \" + msg.payload.windspeed + \"km/s. Zachmurzenie będzie przez \" +\n       msg.payload.clouds + \"% dnia.\",\n    topic : Date().toString() + \": informację pogodowe\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":500,"wires":[["3110f034.37235"]]},{"id":"3110f034.37235","type":"debug","z":"bba2d95a.e74368","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":500,"wires":[]},{"id":"ed6866d2.7ce4a8","type":"change","z":"bba2d95a.e74368","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.zaoknem.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":380,"wires":[["8e89107.cbd82f","dfca366b.cd68e8"]]},{"id":"33f2b32.563414c","type":"change","z":"bba2d95a.e74368","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.zaoknem.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":460,"wires":[["8e89107.cbd82f","dfca366b.cd68e8"]]},{"id":"c3f74abe.187b98","type":"change","z":"bba2d95a.e74368","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wdomu.temp1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":540,"wires":[["8e89107.cbd82f","dfca366b.cd68e8"]]},{"id":"12f8426.76347be","type":"change","z":"bba2d95a.e74368","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wdomu.hum1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":620,"wires":[["8e89107.cbd82f","dfca366b.cd68e8"]]},{"id":"dfca366b.cd68e8","type":"debug","z":"bba2d95a.e74368","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":420,"wires":[]},{"id":"5e060cdf.72b774","type":"server-state-changed","z":"bba2d95a.e74368","name":"Czujnik gazu - poziom","server":"84694e7.e81f7b","version":1,"entityidfilter":"sensor.heiman_combustible_gas_sensor_hs1cg_z_alarm_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":180,"y":880,"wires":[[],["915d782a.9e50c8","2310b37d.8130bc"]]},{"id":"915d782a.9e50c8","type":"debug","z":"bba2d95a.e74368","name":"Czujnik gazu","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":960,"wires":[]},{"id":"160c4f01.373171","type":"change","z":"56e4b26.e9de44c","name":"niebieski","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":200,"wires":[["e65a5d88.81c13"]]},{"id":"ad8252d5.9a455","type":"change","z":"56e4b26.e9de44c","name":"DIMMER 10% jasności","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":20,"wires":[["9d785b96.89c1a8"]]},{"id":"f6eaf8cd.d44a08","type":"change","z":"56e4b26.e9de44c","name":"DIMMER 100% jasności","rules":[{"t":"set","p":"payload","pt":"msg","to":"255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":260,"wires":[["9d785b96.89c1a8"]]},{"id":"c295b2e1.05649","type":"server-state-changed","z":"bba2d95a.e74368","name":"Czujnik dymu - poziom","server":"84694e7.e81f7b","version":"1","entityidfilter":"sensor.devolo_home_control_unknown_type_2004_id_04a4_alarm_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":180,"y":1020,"wires":[[],["8ac3c000.875cb"]]},{"id":"2d0480e.d066e8","type":"server-state-changed","z":"bba2d95a.e74368","name":"Czujnik gazu - typ","server":"84694e7.e81f7b","version":"1","entityidfilter":"sensor.heiman_combustible_gas_sensor_hs1cg_z_alarm_type","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":170,"y":940,"wires":[[],["915d782a.9e50c8","2310b37d.8130bc"]]},{"id":"193a9e9c.628b61","type":"debug","z":"bba2d95a.e74368","name":"Czujniki dymu","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":980,"y":1160,"wires":[]},{"id":"d2b183b3.f1639","type":"server-state-changed","z":"bba2d95a.e74368","name":"Czujnik dymu - typ","server":"84694e7.e81f7b","version":"1","entityidfilter":"sensor.devolo_home_control_unknown_type_2004_id_04a4_alarm_type","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":170,"y":1080,"wires":[[],["e144fef0.942e5"]]},{"id":"bb8094af.88c288","type":"server-state-changed","z":"bba2d95a.e74368","name":"Czujnik dymu - emergency","server":"84694e7.e81f7b","version":"1","entityidfilter":"sensor.devolo_home_control_unknown_type_2004_id_04a4_emergency","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":190,"y":1140,"wires":[[],["24ba0019.6b4b4"]]},{"id":"f9aef6f1.b4c068","type":"server-state-changed","z":"bba2d95a.e74368","name":"Czujnik dymu - smoke","server":"84694e7.e81f7b","version":"1","entityidfilter":"sensor.devolo_home_control_unknown_type_2004_id_04a4_smoke","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"250","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"x":180,"y":1200,"wires":[[],["9c8960b3.536ff"]]},{"id":"8ac3c000.875cb","type":"switch","z":"bba2d95a.e74368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1020,"wires":[[],["193a9e9c.628b61","2663d809.1f1ba8"]]},{"id":"2663d809.1f1ba8","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \" czujnik dymu nadał wartość \" + msg.payload +\"!!!\" +\n       \"SPRAWDŹ CO JEST GRANE W DOMU !\",\n    topic : Date().toString() + \": CZUJNIK DYMU !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1020,"wires":[["80e9fcc9.ae3db"]]},{"id":"e144fef0.942e5","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() +\n       \" czujnik dymu (typ) nadał wartość \" + msg.payload +\"!!!\" +\n       \"SPRAWDŹ CO JEST GRANE W DOMU !\",\n    topic : Date().toString() + \": CZUJNIK DYMU !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1080,"wires":[["193a9e9c.628b61","80e9fcc9.ae3db"]]},{"id":"24ba0019.6b4b4","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() +\n       \" czujnik dymu (emergency) nadał wartość \" + msg.payload +\"!!!\" +\n       \"SPRAWDŹ CO JEST GRANE W DOMU !\",\n    topic : Date().toString() + \": CZUJNIK DYMU !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1140,"wires":[["193a9e9c.628b61","80e9fcc9.ae3db"]]},{"id":"9c8960b3.536ff","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() +\n       \" czujnik dymu (smoke) nadał wartość \" + msg.payload +\"!!!\" +\n       \"SPRAWDŹ CO JEST GRANE W DOMU !\",\n    topic : Date().toString() + \": CZUJNIK DYMU !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1200,"wires":[["193a9e9c.628b61","80e9fcc9.ae3db"]]},{"id":"b490d8c3.eaf008","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1290,"y":1100,"wires":[["855411cf.6ecda"]]},{"id":"439865c3.d12d1c","type":"server-state-changed","z":"bba2d95a.e74368","name":"Czujnik gazu - źródło","server":"84694e7.e81f7b","version":1,"entityidfilter":"sensor.heiman_combustible_gas_sensor_hs1cg_z_sourcenodeid","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":180,"y":820,"wires":[[],["915d782a.9e50c8","2310b37d.8130bc"]]},{"id":"2310b37d.8130bc","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \" czujnik gazu nadał wartość \" + msg.payload +\"!!!\" +\n       \"SPRAWDŹ CO JEST GRANE W DOMU !\",\n    topic : Date().toString() + \": CZUJNIK GAZU !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":880,"wires":[["80e9fcc9.ae3db"]]},{"id":"2d41effa.f7ba","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1290,"y":1020,"wires":[["855411cf.6ecda"]]},{"id":"886dd7a6.dab378","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1290,"y":1060,"wires":[["855411cf.6ecda"]]},{"id":"98717a3.f98fa88","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"DarkSKY donosi, że maksymalna temperatura osiągnie \" + msg.payload.maxtemp + \"°C, minimalna zaś \" +\n       msg.payload.mintemp + \"°C. Wilgotność wyniesie \" + msg.payload.humidity + \"%, a wiatr osiągnie \" + msg.payload.windspeed + \"km/s. Zachmurzenie będzie przez \" +\n       msg.payload.clouds + \"% dnia.\",\n    topic : Date().toString() + \": informację pogodowe\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":740,"wires":[["29ad1067.f8174"]]},{"id":"7af56f90.0792b","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":660,"wires":[["8e89107.cbd82f"]]},{"id":"198a7b0e.de8b35","type":"change","z":"f9ded2e2.1a0ba","name":"reset kanału","rules":[{"t":"set","p":"payload.e2servicelist.e2service[0].e2servicename[0]","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":360,"wires":[["fbdc8c48.9b62b"]]},{"id":"1c744115.30106f","type":"delay","z":"f9ded2e2.1a0ba","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":300,"wires":[["3b299d38.fe9872"]]},{"id":"29ad1067.f8174","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":740,"wires":[["855411cf.6ecda"]]},{"id":"a4c35366.6e84c","type":"light-scheduler","z":"bba2d95a.e74368","settings":"1c498b29.3ab3b5","events":"[{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":15}}]","topic":"","name":"Once a week","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":210,"y":1620,"wires":[["35ab960e.538dca"]]},{"id":"d4b8145.0a988e8","type":"switch","z":"bba2d95a.e74368","name":"ON only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":1620,"wires":[["c7e9b86e.eb7b08","6c8d198a.9eb1b8"]]},{"id":"6c8d198a.9eb1b8","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":1580,"wires":[["9c3d6bfc.5b4a28"]]},{"id":"9c3d6bfc.5b4a28","type":"api-call-service","z":"bba2d95a.e74368","name":"hassio","server":"84694e7.e81f7b","service_domain":"hassio","service":"addon_stdin","data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":1580,"wires":[[]]},{"id":"c7e9b86e.eb7b08","type":"function","z":"bba2d95a.e74368","name":"format snapshot","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"name\": (new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_Snapshot\",\n    \"folders\":[\"homeassistant\",\"share\"]\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1640,"wires":[["f486ab5e.b02378","2f42c184.0c6b3e"]]},{"id":"f486ab5e.b02378","type":"api-call-service","z":"bba2d95a.e74368","name":"Snapshot","server":"84694e7.e81f7b","service_domain":"hassio","service":"snapshot_partial","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":960,"y":1640,"wires":[["2f42c184.0c6b3e"]]},{"id":"35ab960e.538dca","type":"rbe","z":"bba2d95a.e74368","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":370,"y":1620,"wires":[["d4b8145.0a988e8"]]},{"id":"bb7fa239.f7d22","type":"inject","z":"bba2d95a.e74368","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":210,"y":1680,"wires":[["35ab960e.538dca"]]},{"id":"2f42c184.0c6b3e","type":"debug","z":"bba2d95a.e74368","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":1740,"wires":[]},{"id":"615b0012.9eb77","type":"api-call-service","z":"bba2d95a.e74368","name":"Komplet w domu","server":"84694e7.e81f7b","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.komplet\"}","mergecontext":"","output_location":"","output_location_type":"none","x":750,"y":40,"wires":[["e96f8940.328898"]]},{"id":"c0b569d7.bbfad8","type":"api-current-state","z":"bba2d95a.e74368","name":"Gosia w domu?","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.gosia","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":40,"wires":[["615b0012.9eb77","e96f8940.328898"]]},{"id":"7a2fc5b8.09c99c","type":"api-current-state","z":"bba2d95a.e74368","name":"Michał w domu?","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.michal","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":100,"wires":[["615b0012.9eb77","e96f8940.328898"]]},{"id":"f9d9ada4.35d97","type":"server-state-changed","z":"bba2d95a.e74368","name":"Michał w domu ?","server":"84694e7.e81f7b","entityidfilter":"device_tracker.michal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":40,"wires":[["c0b569d7.bbfad8"],[]]},{"id":"bc106a6b.b8c1c8","type":"server-state-changed","z":"bba2d95a.e74368","name":"Gosia w domu ?","server":"84694e7.e81f7b","entityidfilter":"device_tracker.gosia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":100,"wires":[["7a2fc5b8.09c99c"],[]]},{"id":"9696c458.445528","type":"server-state-changed","z":"bba2d95a.e74368","name":"Michał w domu ?","server":"84694e7.e81f7b","entityidfilter":"device_tracker.michal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":160,"wires":[["2213bb31.aa0a44","e96f8940.328898"],[]]},{"id":"1b2627cc.f10b08","type":"server-state-changed","z":"bba2d95a.e74368","name":"Gosia w domu ?","server":"84694e7.e81f7b","entityidfilter":"device_tracker.gosia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":220,"wires":[[],["2213bb31.aa0a44","e96f8940.328898"]]},{"id":"2213bb31.aa0a44","type":"api-call-service","z":"bba2d95a.e74368","name":"Komplet w domu","server":"84694e7.e81f7b","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.komplet\"}","mergecontext":"","output_location":"","output_location_type":"none","x":750,"y":180,"wires":[["e96f8940.328898"]]},{"id":"e96f8940.328898","type":"debug","z":"bba2d95a.e74368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":120,"wires":[]},{"id":"1282406b.a493e","type":"inject","z":"56e4b26.e9de44c","name":"pasek off","repeat":"","crontab":"00 07 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"cmnd/LEDTV_fb/power","payload":"off","payloadType":"str","x":130,"y":320,"wires":[["9a7299d2.0ba508"]]},{"id":"2eac5511.a14b6a","type":"mqtt in","z":"56e4b26.e9de44c","name":"Przycisk ","topic":"RFBridge/LEDKuchnia","qos":"2","broker":"9130ec62.b3928","x":100,"y":400,"wires":[["21225270.bb915e"]]},{"id":"21225270.bb915e","type":"change","z":"56e4b26.e9de44c","name":"TOGGLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"toggle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":400,"wires":[["189f4f50.1155d1"]]},{"id":"cb541b39.0db948","type":"api-current-state","z":"bc048733.b6ee78","name":"LEDywKuchni Status","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.sonoff","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":1260,"wires":[["e6a2d51f.9aad58"]]},{"id":"e6a2d51f.9aad58","type":"switch","z":"bc048733.b6ee78","name":"LEDy on / off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":620,"y":1260,"wires":[[],["3f997c68.0cdc24"],["ea9d958e.ebfd38"]]},{"id":"ea9d958e.ebfd38","type":"delay","z":"bc048733.b6ee78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1340,"wires":[["cb541b39.0db948"]]},{"id":"3f997c68.0cdc24","type":"change","z":"bc048733.b6ee78","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1260,"wires":[[]]},{"id":"fae4425f.c69e3","type":"mqtt in","z":"bc048733.b6ee78","name":"Przycisk ","topic":"RFBridge/LEDKuchnia","qos":"2","broker":"9130ec62.b3928","x":160,"y":1260,"wires":[["cb541b39.0db948"]]},{"id":"e7670877.176388","type":"mqtt out","z":"f9ded2e2.1a0ba","name":"LEDy Status","topic":"cmnd/LEDTV_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":750,"y":660,"wires":[],"inputLabels":["on"]},{"id":"c7a219db.c6fbc8","type":"change","z":"f9ded2e2.1a0ba","name":"TOGGLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"toggle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[["e7670877.176388"]]},{"id":"83e1f79e.58ce28","type":"api-call-service","z":"f9ded2e2.1a0ba","name":"Osuszacz OFF","server":"84694e7.e81f7b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoffosuszacz\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":760,"y":760,"wires":[[]]},{"id":"f54fc058.c61c2","type":"change","z":"f9ded2e2.1a0ba","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":760,"wires":[["83e1f79e.58ce28"]]},{"id":"6cc23a18.1b19c4","type":"api-current-state","z":"bc048733.b6ee78","name":"LEDy TV Status","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.sonoff_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":1520,"wires":[["4fa69d2c.9f5804","a63692a.d09a37"]]},{"id":"4fa69d2c.9f5804","type":"switch","z":"bc048733.b6ee78","name":"LEDy on / off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":1520,"wires":[["8617c26a.057b7","79025d87.4e4384"],["2385c3c.8ce443c"],["af15d319.33b53"]]},{"id":"af15d319.33b53","type":"delay","z":"bc048733.b6ee78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":1600,"wires":[["6cc23a18.1b19c4"]]},{"id":"b0ea0ea1.0177b","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Status","topic":"cmnd/LEDTV_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":870,"y":1620,"wires":[],"inputLabels":["on"]},{"id":"2385c3c.8ce443c","type":"change","z":"bc048733.b6ee78","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1580,"wires":[["b0ea0ea1.0177b"]]},{"id":"8617c26a.057b7","type":"api-current-state","z":"bc048733.b6ee78","name":"Enigma Dzienny Status","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.nbox_dzienny","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":1500,"wires":[["f8f1faf9.c35b38"]]},{"id":"f8f1faf9.c35b38","type":"switch","z":"bc048733.b6ee78","name":"on czy off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":1440,"wires":[["bfcb0f3a.9ce2e"],["c6dd5fb3.6adcd"]]},{"id":"1d8720c7.a4c70f","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Status","topic":"cmnd/LEDTV_fb/power","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1570,"y":1500,"wires":[],"inputLabels":["on"]},{"id":"2c2add0.6547e24","type":"change","z":"bc048733.b6ee78","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1440,"wires":[["1d8720c7.a4c70f"]]},{"id":"c6dd5fb3.6adcd","type":"random","z":"bc048733.b6ee78","name":"","low":"1","high":"2","inte":"true","property":"payload","x":1080,"y":1540,"wires":[["7083f369.c8425c"]]},{"id":"7083f369.c8425c","type":"switch","z":"bc048733.b6ee78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1210,"y":1540,"wires":[["a8a8e940.4eef28"],["8700aad1.6af288"],["47d0cde3.d4a344"]]},{"id":"47d0cde3.d4a344","type":"delay","z":"bc048733.b6ee78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":1620,"wires":[["c6dd5fb3.6adcd"]]},{"id":"a8a8e940.4eef28","type":"change","z":"bc048733.b6ee78","name":"COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1560,"wires":[["198ef26d.33bdee"]]},{"id":"8700aad1.6af288","type":"change","z":"bc048733.b6ee78","name":"COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"127,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1640,"wires":[["198ef26d.33bdee"]]},{"id":"198ef26d.33bdee","type":"mqtt out","z":"bc048733.b6ee78","name":"LEDy Color","topic":"cmnd/LEDTV_fb/color","qos":"2","retain":"false","broker":"9130ec62.b3928","x":1570,"y":1600,"wires":[],"inputLabels":["on"]},{"id":"a63692a.d09a37","type":"debug","z":"bc048733.b6ee78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":1440,"wires":[]},{"id":"b002cb48.2eb118","type":"time-range-switch","z":"bc048733.b6ee78","name":"pomiędzy 6 a wschodem ?","lat":"50.232","lon":"19.855","startTime":"6:00","endTime":"sunrise","startOffset":0,"endOffset":"30","x":1340,"y":1440,"wires":[[],["2c2add0.6547e24"]],"outputLabels":["true","false"]},{"id":"79025d87.4e4384","type":"debug","z":"bc048733.b6ee78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":1420,"wires":[]},{"id":"5be71526.73e7dc","type":"delay","z":"bc048733.b6ee78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":1420,"wires":[["b002cb48.2eb118"]]},{"id":"bfcb0f3a.9ce2e","type":"api-current-state","z":"bc048733.b6ee78","name":"TV on?","server":"84694e7.e81f7b","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1100,"y":1480,"wires":[["5be71526.73e7dc"],[]]},{"id":"111ed947.5ede97","type":"mqtt in","z":"bc048733.b6ee78","name":"Przycisk ","topic":"RFBridge/LEDTV","qos":"2","broker":"9130ec62.b3928","x":80,"y":1520,"wires":[["6cc23a18.1b19c4"]]},{"id":"a60b0a25.10c518","type":"comment","z":"bc048733.b6ee78","name":"przycisk kuchnia","info":"","x":160,"y":1160,"wires":[]},{"id":"9dcc533d.75a77","type":"comment","z":"bc048733.b6ee78","name":"przycisk led tv","info":"","x":110,"y":1400,"wires":[]},{"id":"a37ab55e.ee9988","type":"time-range-switch","z":"f9ded2e2.1a0ba","name":"pomiędzy zmierzchniem a 23 ?","lat":"50.232","lon":"19.855","startTime":"dusk","endTime":"23:00","startOffset":0,"endOffset":0,"x":270,"y":760,"wires":[["f54fc058.c61c2"],[]],"outputLabels":["true","false"]},{"id":"26a77726.12eea8","type":"api-current-state","z":"f9ded2e2.1a0ba","name":"Enigma on ?","server":"84694e7.e81f7b","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.nbox_dzienny","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":640,"wires":[["3f5ea3d8.2032cc"]]},{"id":"3f5ea3d8.2032cc","type":"switch","z":"f9ded2e2.1a0ba","name":"on czy off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":660,"wires":[["1d66bc9a.20cad3"],["c7a219db.c6fbc8"]]},{"id":"1d66bc9a.20cad3","type":"change","z":"f9ded2e2.1a0ba","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":620,"wires":[["e7670877.176388"]]},{"id":"bc3d8bab.7281f8","type":"inject","z":"f9ded2e2.1a0ba","name":"codziennnie o 7:30 off","repeat":"","crontab":"30 07 * * *","once":false,"onceDelay":0.1,"topic":"cmnd/LEDTV_fb/power","payload":"off","payloadType":"str","x":150,"y":200,"wires":[["3b299d38.fe9872"]]},{"id":"ba1b28bd.3451d8","type":"mqtt in","z":"bba2d95a.e74368","name":"","topic":"tele/sonoff/RESULT","qos":"2","datatype":"auto","broker":"9130ec62.b3928","x":170,"y":780,"wires":[["7a8712bf.2bae4c"]]},{"id":"7a8712bf.2bae4c","type":"switch","z":"bba2d95a.e74368","name":"Czy jest woda","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"DA4DA9","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":780,"wires":[["448de6cb.eeb278"],[]]},{"id":"448de6cb.eeb278","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Wykryto wodę w piwnicy!!!\" +\n       \"SPRAWDŹ CO JEST GRANE !\",\n    topic : Date().toString() + \": WODA W PIWNICY !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":780,"wires":[["dc8134c1.dee748","2731daad.d481a6"]]},{"id":"dc8134c1.dee748","type":"debug","z":"bba2d95a.e74368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":820,"wires":[]},{"id":"2731daad.d481a6","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1280,"y":780,"wires":[["855411cf.6ecda"]]},{"id":"810b8e2c.8ee3b","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":940,"y":1440,"wires":[["9d317ca1.6c9f1","767748d5.c832f8"]]},{"id":"9d317ca1.6c9f1","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Zbliża się burza do Krakowa - 30 min !!!\" +\n       \"SPRAWDŹ CZY NIE TRZEBA ZADZIAŁAĆ W DOMU !\",\n    topic : Date().toString() + \": BURZA jest niedaleko (30 min) !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1400,"wires":[[]]},{"id":"9c136100.b728","type":"inject","z":"bba2d95a.e74368","name":"Sprawdzanie burzy co 10 min pomiędzy 6:00 a 0:00","repeat":"","crontab":"*/10 6-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":1360,"wires":[["8cd7011c.5d611","b921c44c.e86fa8","2fab7ba2.e17064","82cedf12.26bae"]]},{"id":"8cd7011c.5d611","type":"api-current-state","z":"bba2d95a.e74368","name":"mniej niż 30 min do burzy","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.czas_do_burzy","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":1420,"wires":[["baa37025.9b92f"],[]]},{"id":"b921c44c.e86fa8","type":"api-current-state","z":"bba2d95a.e74368","name":"mniej niż 5 min do burzy","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.czas_do_burzy","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":1460,"wires":[["baa37025.9b92f"],[]]},{"id":"4ff2ccb3.648454","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Burza już tu jest - 5 min !!!\" +\n       \"NA PEWNO NIC NIE TRZEBA ZROBIĆ !\",\n    topic : Date().toString() + \": BURZA jest niedaleko (5 min) !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1240,"wires":[[]]},{"id":"e010782d.a606d8","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":950,"y":1280,"wires":[["4ff2ccb3.648454","cd4096c0.7d88f8"]]},{"id":"767748d5.c832f8","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Możliwe wystąpienie opadów - 30 min !!!\",\n    topic : Date().toString() + \": Możliwe wystąpienie opadaów (30 min) !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1480,"wires":[[]]},{"id":"82cedf12.26bae","type":"api-current-state","z":"bba2d95a.e74368","name":"mniej niż 30 min do opadów","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.czas_do_opadow","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":1260,"wires":[["eb1deac4.ec0e88"],[]]},{"id":"2fab7ba2.e17064","type":"api-current-state","z":"bba2d95a.e74368","name":"mniej niż 5 min do opadów","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.czas_do_opadow","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":1300,"wires":[["eb1deac4.ec0e88"],[]]},{"id":"cd4096c0.7d88f8","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Możliwe opady za 5 min !!!\"       ,\n    topic : Date().toString() + \": Możliwo opady (5 min) !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1320,"wires":[[]]},{"id":"eb1deac4.ec0e88","type":"time-range-switch","z":"bba2d95a.e74368","name":"pomiędy 6 a 23","lat":"","lon":"","startTime":"6:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":760,"y":1280,"wires":[["e010782d.a606d8"],[]]},{"id":"baa37025.9b92f","type":"time-range-switch","z":"bba2d95a.e74368","name":"pomiędy 6 a 23","lat":"","lon":"","startTime":"6:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":740,"y":1440,"wires":[["810b8e2c.8ee3b"],[]]},{"id":"4f08b5d1.6e6b1c","type":"mqtt in","z":"bc048733.b6ee78","name":"Sensor Reading","topic":"miflora/Chilli","qos":"2","broker":"4c4900.6e4667","x":100,"y":1840,"wires":[["dd7d666b.01e458","c13ab595.176288"]]},{"id":"dd7d666b.01e458","type":"json","z":"bc048733.b6ee78","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1840,"wires":[["6a75451e.53162c","d7ce528b.9fc22","3365a074.79be5","4a970a27.c4f0a4","3aceae35.1f1422"]]},{"id":"d7ce528b.9fc22","type":"function","z":"bc048733.b6ee78","name":"moisture","func":"msg.payload = msg.payload.moisture;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1840,"wires":[["f5b0b70b.dca5b8"]]},{"id":"3365a074.79be5","type":"function","z":"bc048733.b6ee78","name":"battery","func":"msg.payload = msg.payload.battery;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1880,"wires":[["8cf98625.4dc068"]]},{"id":"6a75451e.53162c","type":"function","z":"bc048733.b6ee78","name":"light","func":"msg.payload = msg.payload.light;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1920,"wires":[[]]},{"id":"4a970a27.c4f0a4","type":"function","z":"bc048733.b6ee78","name":"temperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1960,"wires":[["ae5157b3.181088"]]},{"id":"3aceae35.1f1422","type":"function","z":"bc048733.b6ee78","name":"conductivity","func":"msg.payload = msg.payload.conductivity;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2000,"wires":[["61478ef3.f431c"]]},{"id":"f5b0b70b.dca5b8","type":"switch","z":"bc048733.b6ee78","name":"Check Moisture %","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1840,"wires":[["2c33dd63.3de8e2"]]},{"id":"71fbdd7d.994ba4","type":"mqtt out","z":"bc048733.b6ee78","name":"Signal Watering","topic":"Pumps/Pump9/cmnd/Power1","qos":"","retain":"","broker":"a71a1743.fd6198","x":1300,"y":1840,"wires":[]},{"id":"ef6f48d6.5951e8","type":"function","z":"bc048733.b6ee78","name":"Compose Battery Low Alarm","func":"msg.payload = \"Battery Low!\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1880,"wires":[["e56a750e.13a9a8"]]},{"id":"8cf98625.4dc068","type":"switch","z":"bc048733.b6ee78","name":"Check Battery %","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1880,"wires":[["ef6f48d6.5951e8"]]},{"id":"e56a750e.13a9a8","type":"mqtt out","z":"bc048733.b6ee78","name":"Alarm Battery Low","topic":"Alarms/Plant9/Battery","qos":"","retain":"","broker":"a71a1743.fd6198","x":1310,"y":1880,"wires":[]},{"id":"925829f8.058428","type":"function","z":"bc048733.b6ee78","name":"Compose Low temperature alarm","func":"msg.payload = \"temperature low!\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1920,"wires":[["51244edb.09391"]]},{"id":"ae5157b3.181088","type":"switch","z":"bc048733.b6ee78","name":"Check Temperature C","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"num"},{"t":"gte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1960,"wires":[["925829f8.058428"],["9fbb00c1.fd11"]]},{"id":"51244edb.09391","type":"mqtt out","z":"bc048733.b6ee78","name":"Alarm Temperature Low","topic":"Alarms/Plant9/Temperature","qos":"","retain":"","broker":"a71a1743.fd6198","x":1330,"y":1920,"wires":[]},{"id":"9fbb00c1.fd11","type":"function","z":"bc048733.b6ee78","name":"Compose High temperature alarm","func":"msg.payload = \"temperature High!\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1960,"wires":[["572f1d34.093964"]]},{"id":"572f1d34.093964","type":"mqtt out","z":"bc048733.b6ee78","name":"Alarm Temperature High","topic":"Alarms/Plant9/Temperature","qos":"","retain":"","broker":"a71a1743.fd6198","x":1330,"y":1960,"wires":[]},{"id":"4fc2230f.5cf31c","type":"function","z":"bc048733.b6ee78","name":"Compose Low Conductivity alarm","func":"msg.payload = \"Conductivity low!\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2000,"wires":[["788e44ac.9f6dcc"]]},{"id":"61478ef3.f431c","type":"switch","z":"bc048733.b6ee78","name":"Check EC","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"200","vt":"num"},{"t":"gte","v":"9900","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":2000,"wires":[["4fc2230f.5cf31c"],["e1c825f0.21fe78"]]},{"id":"788e44ac.9f6dcc","type":"mqtt out","z":"bc048733.b6ee78","name":"Alarm Conductivity Low","topic":"Alarms/Plant9/Conductivity ","qos":"","retain":"","broker":"a71a1743.fd6198","x":1330,"y":2000,"wires":[]},{"id":"e1c825f0.21fe78","type":"function","z":"bc048733.b6ee78","name":"Compose High Conductivity alarm","func":"msg.payload = \"Conductivity High!\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2040,"wires":[["6495c5fc.433aac"]]},{"id":"6495c5fc.433aac","type":"mqtt out","z":"bc048733.b6ee78","name":"Alarm Temperature High","topic":"Alarms/Plant9/Conductivity ","qos":"","retain":"","broker":"a71a1743.fd6198","x":1330,"y":2040,"wires":[]},{"id":"ba63be7e.c1d5c","type":"file","z":"bc048733.b6ee78","name":"Log records to file","filename":"/home/pi/logs/plant9.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":350,"y":2080,"wires":[[]]},{"id":"276523f3.ff091c","type":"comment","z":"bc048733.b6ee78","name":"PLANT9","info":"","x":80,"y":1780,"wires":[]},{"id":"2c33dd63.3de8e2","type":"change","z":"bc048733.b6ee78","name":"create on command","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1840,"wires":[[]]},{"id":"c13ab595.176288","type":"function","z":"bc048733.b6ee78","name":"add date/time","func":"msg.payload = new Date().toString() + \" - \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":1960,"wires":[["ba63be7e.c1d5c"]]},{"id":"8197591c.76d808","type":"debug","z":"bba2d95a.e74368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1990,"y":1920,"wires":[]},{"id":"56c1fe7c.4945b","type":"api-current-state","z":"bba2d95a.e74368","name":"Burze.dzis.net - Ostrzeżenie przed mrozem","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.burze_dzis_net_frost_warning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":1780,"wires":[["d515e1a9.86ef2","8197591c.76d808"],[]]},{"id":"3ade12d8.cd9c8e","type":"inject","z":"bba2d95a.e74368","name":"Burze.dzis.net - Ostrzeżenia pomiędzy 6:00 a 00:00","repeat":"","crontab":"*/10 6-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1940,"wires":[["649fd09a.2009e"]]},{"id":"9867f0f6.99e97","type":"api-current-state","z":"bba2d95a.e74368","name":"Burze.dzis.net - Ostrzeżenie przed upałem","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.burze_dzis_net_heat_warning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":1820,"wires":[["8197591c.76d808","c9cc34f.ea055c8"],[]]},{"id":"cdbac8c1.e31fc8","type":"api-current-state","z":"bba2d95a.e74368","name":"Burze.dzis.net - Ostrzeżenie przed ulewnym deszczem","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.burze_dzis_net_precipitation_warning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":720,"y":1860,"wires":[["8197591c.76d808","ea305022.cad07"],[]]},{"id":"5fbcb700.977da8","type":"api-current-state","z":"bba2d95a.e74368","name":"Burze.dzis.net - Ostrzeżenie przed burzami","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.burze_dzis_net_storm_warning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":1900,"wires":[["8197591c.76d808","489f6d8e.492e64"],[]]},{"id":"6b3dbcf0.6a4134","type":"api-current-state","z":"bba2d95a.e74368","name":"Burze.dzis.net - Ostrzeżenie przed burzą w niewielkiej odległości","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.burze_dzis_net_storms_nearby","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":1940,"wires":[["9e36624b.06db2"],[]]},{"id":"8961b713.d5cfe8","type":"api-current-state","z":"bba2d95a.e74368","name":"Burze.dzis.net - Ostrzeżenie przed tornadem","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.burze_dzis_net_tornado_warning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":1980,"wires":[["8197591c.76d808","9881a4da.086b38"],[]]},{"id":"c28e4abf.209598","type":"api-current-state","z":"bba2d95a.e74368","name":"Burze.dzis.net - Ostrzeżenie przed silnym wiatrem","server":"84694e7.e81f7b","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.burze_dzis_net_wind_warning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":2020,"wires":[["8197591c.76d808","d71c2a85.fb1f68"],[]]},{"id":"e2b2931a.65d7e","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"var tresc = msg.payload.data;\nvar kierunek = msg.payload.direction;\nvar odleglosc = msg.payload.distance;\n\nmsg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Burze.dziś.net informuje o burzy w niewielkiej odległości - \" + odleglosc +\n       \"Zbliża się ona z kierunku \" + kierunek +\n       \" \" +\n       \"Treść komunikatu: \" + tresc,\n       \n       \n    topic : Date().toString() + \": BURZA jest niedaleko !\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1940,"wires":[["855411cf.6ecda","8197591c.76d808"]]},{"id":"776db042.e13ae","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Wydano ostrzeżenie przed wysokim mrozem\" +\n       \"o treści: \" +\n       \"Miej to na uwadze ! i ubież się odpowiednio !\",\n    topic : Date().toString() + \": Ostrzeżenie przed mrozem!\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1780,"wires":[["855411cf.6ecda"]]},{"id":"d515e1a9.86ef2","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1310,"y":1780,"wires":[["776db042.e13ae"]]},{"id":"4cea8298.c5f9ec","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1310,"y":1820,"wires":[["b7802f47.14cc1"]]},{"id":"b7802f47.14cc1","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"var tresc = msg.payload.data;\nvar kierunek = msg.payload.direction;\nvar odleglosc = msg.payload.distance;\nmsg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Wydano ostrzeżenie przed wysokimi temperaturami\" +\n       \"o treści: \" + tresc +\n       \"Miej to na uwadze ! i ubież się odpowiednio !\",\n    topic : Date().toString() + \": Ostrzeżenie przed upałem!\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1820,"wires":[["855411cf.6ecda"]]},{"id":"ea305022.cad07","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1310,"y":1860,"wires":[["64679c74.4b3444"]]},{"id":"64679c74.4b3444","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Wydano ostrzeżenie przed instensywnymi opadami\" +\n       \"o treści: \" +\n       \"Sprawdź studnie i pinwnicę!!\",\n    topic : Date().toString() + \": Ostrzeżenie przed intensywnymi opadami!\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1860,"wires":[["855411cf.6ecda"]]},{"id":"489f6d8e.492e64","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1310,"y":1900,"wires":[["bccec520.af7698"]]},{"id":"bccec520.af7698","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Wydano ostrzeżenie przed burzami\" +\n       \"o treści:\" +\n       \"Miej to na uwadze ! Sprawdź drzwi i okna\",\n    topic : Date().toString() + \": Ostrzeżenie przed burzami!\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1900,"wires":[["855411cf.6ecda"]]},{"id":"9881a4da.086b38","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1310,"y":1980,"wires":[["fe98adb5.b123e"]]},{"id":"fe98adb5.b123e","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Wydano ostrzeżenie o możliwości wystąpienia tornad\" +\n       \"o treści: \" +\n       \"Miej to na uwadze ! Sprawdź okna i drzwi!\",\n    topic : Date().toString() + \": Ostrzeżenie przed mrozem!\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1980,"wires":[["855411cf.6ecda"]]},{"id":"d71c2a85.fb1f68","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1310,"y":2020,"wires":[["df6af2c6.5741b"]]},{"id":"df6af2c6.5741b","type":"function","z":"bba2d95a.e74368","name":"Format maila","func":"msg = {\n    payload : \"Witaj!\" + \n       \"Dziś \" + Date().toString() + \n       \"Wydano ostrzeżenie przed silnym wiatrem\" +\n       \"o treści: \" +\n       \"Miej to na uwadze ! sprawdź okna i drzwi, ubież się odpowiednio !\",\n    topic : Date().toString() + \": Ostrzeżenie przed mrozem!\" \n};\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":2020,"wires":[["855411cf.6ecda"]]},{"id":"9e36624b.06db2","type":"function","z":"bba2d95a.e74368","name":"wydzielenie atrybutów","func":"var atrybuty = msg.data.attributes;\nreturn[{payload:atrybuty}]","outputs":1,"noerr":0,"x":1120,"y":1940,"wires":[["dd61006.24f1f","8197591c.76d808"]]},{"id":"dd61006.24f1f","type":"delay","z":"bba2d95a.e74368","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1320,"y":1940,"wires":[["e2b2931a.65d7e"]]},{"id":"649fd09a.2009e","type":"time-range-switch","z":"bba2d95a.e74368","name":"pomiędy 6 a 23","lat":"","lon":"","startTime":"6:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":360,"y":1900,"wires":[["56c1fe7c.4945b","9867f0f6.99e97","cdbac8c1.e31fc8","5fbcb700.977da8","6b3dbcf0.6a4134","8961b713.d5cfe8","c28e4abf.209598"],[]]},{"id":"c9cc34f.ea055c8","type":"function","z":"bba2d95a.e74368","name":"wydzielenie atrybutów","func":"var atrybuty = msg.data.attributes;\nreturn[{payload:atrybuty}]","outputs":1,"noerr":0,"x":1120,"y":1820,"wires":[["4cea8298.c5f9ec"]]},{"id":"fb104aec.c52fe8","type":"switch","z":"bba2d95a.e74368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0.1","vt":"str"},{"t":"gte","v":"0.1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":920,"wires":[["2d41effa.f7ba"],[]]},{"id":"80e9fcc9.ae3db","type":"api-current-state","z":"bba2d95a.e74368","name":"","server":"84694e7.e81f7b","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.uptime_ha","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":960,"wires":[["fb104aec.c52fe8"]]},{"id":"cde73392.81ad5","type":"inject","z":"3068254c.59982a","name":"Choinka ON tydzień","repeat":"","crontab":"*/10 16-23 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"Choinka ON tydzień","payload":"On","payloadType":"str","x":140,"y":220,"wires":[["f30a0883.57de38"]]},{"id":"db1e4d10.a73ba","type":"inject","z":"3068254c.59982a","name":"Choinka OFF","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"Off","payload":"Off","payloadType":"str","x":380,"y":180,"wires":[["6d952432.4492ec","fa47b1de.a8633","1f0d6ff.961889","91edb2f4.ebd46","84fb5cf1.826cf","70eeef17.42fce"]]},{"id":"69b168ff.2688f8","type":"inject","z":"3068254c.59982a","name":"Choinka ON weekend","repeat":"","crontab":"*/10 17-23 * * 6,0","once":false,"onceDelay":0.1,"topic":"Choinka ON weekend","payload":"On","payloadType":"str","x":150,"y":140,"wires":[["8646023a.74184"]]},{"id":"f30a0883.57de38","type":"time-range-switch","z":"3068254c.59982a","name":"","lat":"","lon":"","startTime":"16:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":390,"y":220,"wires":[["6d952432.4492ec","70eeef17.42fce","fa47b1de.a8633","1f0d6ff.961889","91edb2f4.ebd46","84fb5cf1.826cf"],[]],"outputLabels":["true","false"]},{"id":"8646023a.74184","type":"time-range-switch","z":"3068254c.59982a","name":"","lat":"","lon":"","startTime":"dusk","endTime":"00:00","startOffset":0,"endOffset":0,"x":390,"y":140,"wires":[["6d952432.4492ec","fa47b1de.a8633","1f0d6ff.961889","91edb2f4.ebd46","84fb5cf1.826cf"],[]],"outputLabels":["true","false"]},{"id":"6d952432.4492ec","type":"mqtt out","z":"3068254c.59982a","name":"choinka","topic":"gniazdkosalon/cmnd/POWER","qos":"2","retain":"false","broker":"9130ec62.b3928","x":860,"y":40,"wires":[],"inputLabels":["on"]},{"id":"91edb2f4.ebd46","type":"mqtt out","z":"3068254c.59982a","name":"koło auta","topic":"cmnd/RFBridge_fb/RfKey12","qos":"2","retain":"false","broker":"9130ec62.b3928","x":860,"y":220,"wires":[],"inputLabels":["on"]},{"id":"84fb5cf1.826cf","type":"mqtt out","z":"3068254c.59982a","name":"w salonie","topic":"cmnd/RFBridge_fb/RfKey5","qos":"2","retain":"false","broker":"9130ec62.b3928","x":860,"y":280,"wires":[],"inputLabels":["on"]},{"id":"fa47b1de.a8633","type":"mqtt out","z":"3068254c.59982a","name":"nad Gankiem","topic":"cmnd/RFBridge_fb/RfKey1","qos":"2","retain":"false","broker":"9130ec62.b3928","x":870,"y":100,"wires":[],"inputLabels":["on"]},{"id":"1f0d6ff.961889","type":"mqtt out","z":"3068254c.59982a","name":"przed domem","topic":"cmnd/RFBridge_fb/RfKey2","qos":"2","retain":"false","broker":"9130ec62.b3928","x":880,"y":160,"wires":[],"inputLabels":["on"]},{"id":"70eeef17.42fce","type":"mqtt out","z":"3068254c.59982a","name":"w dziennym","topic":"cmnd/RFBridge_fb/RfKey4","qos":"2","retain":"false","broker":"9130ec62.b3928","x":870,"y":340,"wires":[],"inputLabels":["on"]},{"id":"22289783.fd1558","type":"inject","z":"3068254c.59982a","name":"Choinka ON tydzień","repeat":"","crontab":"*/10 16-23 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"Choinka ON tydzień","payload":"On","payloadType":"str","x":160,"y":380,"wires":[["84fb5cf1.826cf"]]},{"id":"9c5ba099.2075d","type":"api-call-service","z":"bbac0e09.2679d","name":"Podest ON","server":"84694e7.e81f7b","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.taraspodestled_taraspodestled","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":20,"wires":[[]]},{"id":"3fb6e031.43041","type":"time-range-switch","z":"bbac0e09.2679d","name":"","lat":"","lon":"","startTime":"dusk","endTime":"23:00","startOffset":0,"endOffset":0,"x":670,"y":40,"wires":[["9c5ba099.2075d"],[]],"outputLabels":["true","false"]},{"id":"c302acc2.1c787","type":"inject","z":"bbac0e09.2679d","name":"Podest ON tydzień","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/10 15-22 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"Podest ON ","payload":"","payloadType":"date","x":440,"y":40,"wires":[["3fb6e031.43041"]]},{"id":"7ba7210e.aa8","type":"inject","z":"bbac0e09.2679d","name":"Podest OFF tydzień","repeat":"","crontab":"00 23 * * 1,2,3,4","once":false,"onceDelay":0.1,"topic":"Podest OFF","payload":"","payloadType":"date","x":440,"y":80,"wires":[["14223b59.fbb375"]]},{"id":"14223b59.fbb375","type":"api-call-service","z":"bbac0e09.2679d","name":"Podest OFF","server":"84694e7.e81f7b","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.taraspodestled_taraspodestled","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":80,"wires":[[]]},{"id":"8083c2a1.19c7b","type":"api-call-service","z":"bbac0e09.2679d","name":"Podest ON","server":"84694e7.e81f7b","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.taraspodestled_taraspodestled","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":140,"wires":[[]]},{"id":"a1cae4e7.36b288","type":"time-range-switch","z":"bbac0e09.2679d","name":"","lat":"","lon":"","startTime":"Dusk","endTime":"23:30","startOffset":0,"endOffset":0,"x":670,"y":160,"wires":[["8083c2a1.19c7b"],[]],"outputLabels":["true","false"]},{"id":"dcee43fb.71fc2","type":"inject","z":"bbac0e09.2679d","name":"Podest ON weekend","repeat":"","crontab":"*/10 15-22 * * 6,0","once":false,"onceDelay":0.1,"topic":"Podest ON ","payload":"","payloadType":"date","x":440,"y":160,"wires":[["a1cae4e7.36b288"]]},{"id":"45a0b471.c2badc","type":"inject","z":"bbac0e09.2679d","name":"Podest OFF weekend","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 23 * * 5,6,0","once":false,"onceDelay":0.1,"topic":"Podest OFF","payload":"","payloadType":"date","x":440,"y":200,"wires":[["b201ba56.ec0118"]]},{"id":"b201ba56.ec0118","type":"api-call-service","z":"bbac0e09.2679d","name":"Podest OFF","server":"84694e7.e81f7b","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.taraspodestled_taraspodestled","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":200,"wires":[[]]}]